[Unit]
Description=Mod-Midi Service
After=zynthian.service

[Service]
Type=simple
ExecStart=/usr/bin/python /zynthian/mod-midi/mod-midi.py
Restart=always
RestartSec=2
User=root
Group=root
Nice=-17
#StandardOutput=tty
#StandardError=tty

[Install]
WantedBy=multi-user.target
